@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
header{
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #002900;
    font-family: Nunito;
    align-items: center;
}
#tud{
    background-color: #ffffff7e;
    padding: 10px;
    border-radius: 30px;
}
#ima{
    background-image: url(images.jpg);
    height: 200px;
    width: 249px;
    display: block;
    margin: auto;
    flex: auto;
}
#di>a{
    margin-top: 10px;
    border-top: 1px solid #5c5c5c;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex: auto;
    text-align: center;
    font-weight: 600;
    color: black;
    font-size: 3em;
    text-decoration-style: wavy;
}
#tof{
    background-image: linear-gradient(to bottom, #002900, #fff , #002900);
    font-family: Nunito;
    padding: 10px;
}
main>h1{
    text-align: center;
    padding: 10px;
    background-color: #0c0c0c70;
    border-radius: 20px 20px 0px 0px;
}
main{
    margin: auto;
    max-width: 800px;
    min-width: 200px;
    background-color: #fff;
    border-radius: 20px;
}
#art1{
    background-color: #02020223;
}
#art1>p{
    padding: 10px;
}
#art1>h2{
    padding: 10px;
    background-color: #00000031;
}
#art2{
    background-color: #02020223;
}
#art2>h2{
    background-color: #00000031;
    padding: 10px;
}
#art2>ul{
    padding: 10px;
    list-style-type: none;
}
#art3{
    background-color: #00000031;
}
#art3>h2{
    background-color: #00000031;
    padding: 10px;
}
#art3>ul{
    padding: 10px;
    list-style-type: none;
}
li>a{
    color: #000000;
}
.hidden{
    filter: blur(10px);
    transition: all 2s;
    opacity: 0;
    transform: translateX(-100%);
}
.show{
    filter: blur(0px);
    opacity: 1;
    transform: translateX(0);
}
